WCFClient_WpfApplication/Service References/ServiceReference/ADSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56418/ADSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnimalDataEntitities" />
  <xs:element name="GetAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="animal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAnimalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnimalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AnimalDataEntitities" minOccurs="0" name="GetAnimalsResult" nillable="true" type="q1:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AnimalDataEntitities" minOccurs="0" name="animal" nillable="true" type="q2:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>