WCFClient_WpfApplication/Service References/ServiceReference/AnimalDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AnimalDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56418/ADSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56418/ADSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56418/ADSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AnimalDataEntitities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnimalDataService_GetAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimal" />
  </wsdl:message>
  <wsdl:message name="IAnimalDataService_GetAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalResponse" />
  </wsdl:message>
  <wsdl:message name="IAnimalDataService_GetAnimals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimals" />
  </wsdl:message>
  <wsdl:message name="IAnimalDataService_GetAnimals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnimalsResponse" />
  </wsdl:message>
  <wsdl:message name="IAnimalDataService_AddAnimal_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnimal" />
  </wsdl:message>
  <wsdl:message name="IAnimalDataService_AddAnimal_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnimalResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnimalDataService">
    <wsdl:operation name="GetAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnimalDataService/GetAnimal" message="tns:IAnimalDataService_GetAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnimalDataService/GetAnimalResponse" message="tns:IAnimalDataService_GetAnimal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnimals">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnimalDataService/GetAnimals" message="tns:IAnimalDataService_GetAnimals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnimalDataService/GetAnimalsResponse" message="tns:IAnimalDataService_GetAnimals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnimal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAnimalDataService/AddAnimal" message="tns:IAnimalDataService_AddAnimal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAnimalDataService/AddAnimalResponse" message="tns:IAnimalDataService_AddAnimal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAnimalDataService" type="tns:IAnimalDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAnimal">
      <soap:operation soapAction="http://tempuri.org/IAnimalDataService/GetAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnimals">
      <soap:operation soapAction="http://tempuri.org/IAnimalDataService/GetAnimals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnimal">
      <soap:operation soapAction="http://tempuri.org/IAnimalDataService/AddAnimal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnimalDataService">
    <wsdl:port name="BasicHttpBinding_IAnimalDataService" binding="tns:BasicHttpBinding_IAnimalDataService">
      <soap:address location="http://localhost:56418/ADSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>